<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-error</h1>
        <p class="lead">Set of reusable Angular components to help displaying errors.</p>
        <hr class="my-4">
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-primary"
                    (click)="showPageError(error404)">Show 404 Page Error
            </button>
          </div>
          <div class="col">
            <button class="btn btn-primary"
                    (click)="showPageError(error400)">Show 400 Page Error
            </button>
          </div>
        </div>
        <div class="row mt-4 text-right" *ngIf="this.pageErrorCompRef">
          <div class="col">
            <button class="btn btn-link"
                    (click)="removePageError()">Remove Page Error
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="h2 display-4 size-2">Usage [directive]</h2>
      <pre><code class="language-html">
        &lt;div [vlahioErrorPage]="error" [content]="el" [height]="'100%'"&gt;&lt;/div&gt;
      </code></pre>

      <pre><code class="language-typescript">
        error: ErrorInterface;
        el: HTMLElement;
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Usage [component]</h2>
      <pre><code class="language-html">
        &lt;div [error]="error" [content]="el" [height]="'100%'"&gt;&lt;/div&gt;
      </code></pre>

      <pre><code class="language-typescript">
        error: ErrorInterface;
        el: HTMLElement;
        height: string;
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Usage [service worker]</h2>
      <pre><code class="language-typescript">
      constructor(private errorPageWorker: ErrorPageWorker,
                  private factoryWorker: FactoryWorker
      ) {{'{'}}}

      showPageError(error: ErrorInterface): void {{'{'}}
        if (this.pageErrorCompRef) {{'{'}}
          this.errorPageWorker.destroy(this.pageErrorCompRef);
        }
        const removeCompRef = this.factoryWorker.make(RemoveComponent);
        removeCompRef.instance.remove.subscribe(
          () => {{'{'}}
            this.removePageError();
          }
        );
        this.pageErrorCompRef = this.errorPageWorker.render(
          error,
          {{'{'}}
            height: '100%',
            content: removeCompRef.location.nativeElement
          }
        );
      }
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Usage [CSS assets]</h2>
      <pre><code class="language-css">
        @import "... ngx-error/src/assets/css/error-page.css";
      </code></pre>
    </div>
  </div>
</div>
